.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

.card-container {
  background-color: #ffffff;
  width: 90%;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card-title {
  color: #171f46;
  font-family: Roboto;
  font-size: 16px;
}

.card-description {
  color: #64748b;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.card-img {
  width: 50px;
  height: 50px;
}
